<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <meta charset="utf-8">
        <title>Homepage</title>
    </head>

    <body onload='createCard()' style="background: #E1EFE6;">
        <% include header %>

        <div class="container">
            <!-- 課程分類導航 -->
            <div>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/setting">Setting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/password">Password</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/course">Course</a>
                  </li>
              </ul>
            </div>
        </div>
        <br>
        <main>           
            <!-- 設定頁面 -->
            <% if (Msg === 'setting' || Msg === 'profile') { %>
                <div class="container" style="width: 80%; ">
                    <h3>Hi! <%= user.username %> </h3>
                    <% if (user.thumbnail) { %>
                        <img src="<%= user.thumbnail %>"/>
                    <% } %>
                    <% if (!user.active) { %>
                        <h3 style="color: #E58F65;">Please verify your email!</h3>
                    <% }%>
                    
                    <br><br>

                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                                placeholder="<%= user.username %>" style="width: 60%;">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" id="exampleInputPassword1" 
                                placeholder="<%= user.email %>" style="width: 60%;">
                      </div>
                      <button type="submit" class="btn btn-primary">Reset</button>
                    </form>

                </div>
            <% } %>

            <!-- 密碼變更 -->
            <% if (Msg === 'password') { %>
                <div class="container" style="width: 80%; ">
                    <h3>Hi! <%= user.username %> </h3>
                    <% if (user.thumbnail) { %>
                        <img src="<%= user.thumbnail %>"/>
                    <% } %>

                    <br><br>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                                    placeholder="Please enter your original passeord" style="width: 60%;">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input type="email" class="form-control" id="exampleInputPassword1" 
                                    placeholder="Please enter your new passeord" style="width: 60%;">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password Cheak</label>
                            <input type="email" class="form-control" id="exampleInputPassword1" 
                                    placeholder="Please enter your new passeord again" style="width: 60%;">
                        </div>

                        <br>

                        <h4 style="display:inline">Are you sure to modify your password ? </h4>
                        <button type="submit" class="btn btn-danger" >Modify</button>
                        
                    </form>
                </div>
                
            <% } %>

            <!-- 我的課程 動態生成-->
            <% if (Msg === 'course') { %>
                <div id='cardSection' class="container"></div>
            <% } %>

        </main>

    </body>
    <footer>
        
    </footer>
</html>

<script type="text/javascript">

    let cardSection = document.getElementById('cardSection');
    
    function createCard(){
        <% for(let i=0; i<user.collectionCourse.length; i++){ %>

            container = document.createElement('div');
            container.setAttribute("class", "col-sm-6" );
            cardSection.appendChild(container);

            card = document.createElement('div');
            card.setAttribute("class", "card" );
            container.appendChild(card);

            cardbody = document.createElement('div');
            cardbody.setAttribute("class", "card-body" );
            card.appendChild(cardbody);

            cardbody.innerHTML = '<h4 class="card-title"><%= user.collectionCourse[i] %></h4>';

            link = document.createElement('a');
            link.setAttribute("href", "/course/<%= user.collectionCourse[i] %>/1" );
            link.setAttribute("class", "btn btn-primary" );
            link.innerHTML='Go';
            card.appendChild(link);   

            link = document.createElement('a');
            link.setAttribute("href", "/course/uncollected/<%= user.collectionCourse[i] %>" );
            link.setAttribute("class", "btn btn-danger" );
            link.innerHTML='Delete';
            card.appendChild(link); 
            
        <% } %>
    }

</script>

<style>

    .card{
        background: #ffe51ca8;
        padding: 10px;
        border:2px #ccc solid;
        border-radius:10px;

    }

    .btn{
        padding: 4px 10px;
        margin-left: 5px;
    }

</style>