<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <meta charset="utf-8">
        <title>Profile</title>

        <style>

            input{
                display: block;
                margin : 0 auto;
            }

            ul{
                display:flex;
                justify-content: center
            }

            #cardSection{
                text-align: center;;
            }

            .card{
                margin: 20px;
                color: #DDDBF1;
                background: #3C4F76;
                padding: 10px;
                border:2px #DDDBF1 solid;
                border-radius:10px;

            }

            .card-body{
                font-size: 20px;
            }

            .btn{
                padding: 4px 10px;
                margin-left: 5px;
            }

        </style>

    </head>

    <body onload='createCard()' style="background: #E1EFE6;">
        <% include header %>

        <div id='navBar' style="padding: 20px;">
            <div class="col-lg-8 col-lg-offset-2">       
                <!-- èª²ç¨‹åˆ†é¡žå°Žèˆª -->               
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/setting">Setting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/password">Password</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/course">Course</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/shoppingCart">Shopping Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/delete">Delete</a>
                  </li>
                </ul>  
            </div>
        </div>
            <br><br>
        <main>           
            <!-- è¨­å®šé é¢ -->
            
                <div class="container" style="width: 80%; ">
                    <div id = 'userInfo' style="text-align: center;">
                        <h3>Hi! <%= user.username %> </h3>
                        <% if (user.thumbnail) { %>
                            <img src="<%= user.thumbnail %>"/>
                        <% } %>
                        <% if (!user.active) { %>
                            <h3 style="color: #E58F65;">Please verify your email! ðŸ˜„</h3>
                        <% }else{%>
                    </div>
                    
                    <br><br>

                    <% if (Msg === 'setting' || Msg === 'profile') { %>
                        <div class="col-lg-8 col-lg-offset-2">
                            <form enctype='application/json' method="POST">
                              <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" name='Name' aria-describedby="emailHelp" 
                                        placeholder="<%= user.username %>"">
                              </div>
                              <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name='Email' 
                                        placeholder="<%= user.email %>"">
                              </div>
                              <h4><%=ErroMsg%></h4>
                              <button type="submit" class="btn btn-primary" formaction="/profile/setting/modify">Reset</button>
                            </form>
                        </div>
                    <% }else if (Msg === 'password') {%>
                        <div class="col-lg-8 col-lg-offset-2">
                            <form enctype='application/json' method="POST">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Password</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" name='oldPassword' aria-describedby="emailHelp" 
                                            placeholder="Please enter your original passeord"">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">New Password</label>
                                    <input type="text" class="form-control" id="exampleInputPassword2" name='newPassword'
                                            placeholder="Please enter your new passeord"">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">New Password Cheak</label>
                                    <input type="text" class="form-control" id="exampleInputPassword3" name='newPasswordCheak'
                                            placeholder="Please enter your new passeord again">
                                </div>

                                <br>
                                <h4><%=ErroMsg%></h4>
                                <h4 style="display:inline">Are you sure to modify your password ? </h4>
                                <button type="submit" class="btn btn-danger" formaction="/profile/password/modify">Modify</button>                              
                            </form>
                        </div>    
                    <% } %>

                <% } %>

                </div>

                <% if (Msg === 'course') {%>
                    <div id='cardSection' class="container"></div>
                <% } %>
            
        </main>

    </body>
    <footer>
        
    </footer>
</html>

<script type="text/javascript">

    let cardSection = document.getElementById('cardSection');
    
    function createCard(){
        <% for(let i=0; i<user.collectionCourse.length; i++){ %>

            container = document.createElement('div');
            container.setAttribute("class", "col-sm-4" );
            cardSection.appendChild(container);

            card = document.createElement('div');
            card.setAttribute("class", "card" );
            container.appendChild(card);

            cardbody = document.createElement('div');
            cardbody.setAttribute("class", "card-body" );
            card.appendChild(cardbody);

            cardbody.innerHTML = '<h4 class="card-title"><%= user.collectionCourse[i] %></h4>';

            link = document.createElement('a');
            link.setAttribute("href", "/course/<%= user.collectionCourse[i] %>/1" );
            link.setAttribute("class", "btn btn-primary" );
            link.innerHTML='Go';
            card.appendChild(link);   

            link = document.createElement('a');
            link.setAttribute("href", "/course/uncollected/<%= user.collectionCourse[i] %>" );
            link.setAttribute("class", "btn btn-danger" );
            link.innerHTML='Delete';
            card.appendChild(link); 
            
        <% } %>
    }

</script>

