<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>shopping Cart</title>
        <style>

            body{
                background: #E1EFE6;
            }

            ul{
                display:flex;
                justify-content: center
            }

            #footer{
                height: 50px;
            }

            .card{
                margin: 20px;
                color: #DDDBF1;
                background: #283845;
                padding: 10px;
                border:2px #DDDBF1 solid;
                border-radius:10px;

            }

            .btn{
                padding: 4px 10px;
                margin-left: 5px;
            }

            .card-body{
                font-size: 20px;
            }

        </style>

    </head>
    <body onload='createCard()'>
        <% include header %>

        <!-- 分類導航 -->  
        <div id='navBar' style="padding: 20px;">
            <div class="col-lg-8 col-lg-offset-2">                    
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/setting">Setting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/password">Password</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/collect">Collect</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/shoppingCart">Shopping Cart</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile/course">Course</a>
                  </li>
                </ul>  
            </div>
        </div>

        <br><br>

        <main>
                <form  enctype='application/json' method="POST">
                    <div id="cardSection" class="container" style="text-align: center;">
                        
                    </div>
                    <input id="priceOfInput" type="text" name="totalPrice" value="0" style="display:none">
                    <br>
                    <div class="container" style="text-align: center;">
                        <h4 id="totalPrice" >NT 0$</h4><br>
                        <button type="submit" class="btn btn-primary" formaction="/user/<%= user._id %>/checkbill" style="">Cheak</button>
                    </div>
                </form>
        </main>

        <div id="footer">
            
        </div>
    </body>
</html>


<script type="text/javascript">

    setInterval(()=> {
         calculatePrice(); 
    }, 300);
    
    function createCard(){

        let cardSection = document.getElementById('cardSection');
        let totalPrice = document.getElementById('totalPrice');
        let price = 0;

        <% for(let i=0; i<user.shoppingCartCourse.length; i++){ %>

            container = document.createElement('div');
            container.setAttribute("class", "col-sm-12" );
            cardSection.appendChild(container);

            card = document.createElement('div');
            card.setAttribute("class", "card" );
            container.appendChild(card);

            cardbody = document.createElement('div');
            cardbody.setAttribute("class", "card-body" );
            card.appendChild(cardbody);

            cardbody.innerHTML ='<input id="item<%=i%>" type="checkbox" name="item" value="<%= user.shoppingCartCourse[i].coursePay %>" checked="checked"> &nbsp;' +
                                    '<%= user.shoppingCartCourse[i].courseName %> <br><br> NT<%= user.shoppingCartCourse[i].coursePay %>$<br><br>' +
                                    '<input id="item<%=i%>_name" type="checkbox" name="item" value="<%= user.shoppingCartCourse[i].courseName %>" checked="checked" style="display:none">';

            linkGo = document.createElement('a');
            linkGo.setAttribute("href", "/course/<%= user.shoppingCartCourse[i].courseName %>/1" );
            linkGo.setAttribute("class", "btn btn-primary" );
            linkGo.innerHTML='Go';
            card.appendChild(linkGo);   

            linkDelete = document.createElement('a');
            linkDelete.setAttribute("href", "/course/removeformcart/<%= user.shoppingCartCourse[i].courseName %>" );
            linkDelete.setAttribute("class", "btn btn-danger" );
            linkDelete.innerHTML='Delete';
            card.appendChild(linkDelete); 

            price += Number(<%= user.shoppingCartCourse[i].coursePay %>);
            
        <% } %>

        totalPrice.innerHTML = 'NT ' + price.toString() + '$';
    }

    function calculatePrice(){

        let price = 0;
        let tema, temb;
        
        <% for(let i=0; i<user.shoppingCartCourse.length; i++){ %>
            
            tema = document.getElementById('item<%=i%>');
            temb = document.getElementById('item<%=i%>_name');
            
            if(tema.checked === true){
                price+=Number(tema.value);
                temb.checked = true;
            }else{
                temb.checked = false;
            }

        <% } %>

        let totalPrice = document.getElementById('totalPrice');
        totalPrice.innerHTML = 'NT ' + price.toString() + '$';
        let priceOfInput = document.getElementById('priceOfInput');
        priceOfInput.value = price;
    }

</script>